In [1]:
import pandas as pd 
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

### Fetching the Data

In [4]:
Adverstising_data=pd.read_csv('Advertising.csv')

In [6]:
Adverstising_data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [8]:
Adverstising_data.drop('Unnamed: 0',axis=1)

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

Here the KPI is sales so we are targetting to get the result for sales prediction

In [9]:
feature_cols = ['TV', 'radio', 'newspaper']
X=Adverstising_data[feature_cols]
y=Adverstising_data['sales']

# spliting the data in traing and testing

In [35]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [36]:
# default split is 75% for training and 25% for testing
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(140, 3)
(140,)
(60, 3)
(60,)

In [37]:
model=LinearRegression()

In [38]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
print("Here is the Coff of Linear Regression",model.coef_)

Here is the Coff of Linear Regression [0.04695205 0.17658644 0.00185115]

In [40]:
print("Here is the intercept of model ",model.intercept_)

Here is the intercept of model  2.9372157346906107

for finding out the acuracy we generally take tesing data for predictions

In [41]:
y_predt=model.predict(X_test)

In [42]:
predict_Vs_actual_df=pd.DataFrame({'Predicted Value':y_predt,'Actual Value':y_test})

In [43]:
predict_Vs_actual_df

     Predicted Value  Actual Value
58         21.663183          23.8
40         16.441379          16.6
34          7.691446           9.5
102        17.916317          14.8
184        18.670471          17.6
198        23.791993          25.5
95         16.282543          16.9
4          13.441387          12.9
29          9.152940          10.5
168        17.324753          17.1
171        14.439229          14.5
18          9.840195          11.3
11         17.263299          17.4
89         16.628531          16.7
110        15.091587          13.4
118        15.501739          15.9
159        12.434041          12.9
35         17.325915          12.8
136        11.043275           9.5
59         18.056528          18.4
51          9.353095          10.7
16         12.794660          12.5
44          8.734138           8.5
94         10.472253          11.5
31         11.382160          11.9
162        15.026586          14.9
38          9.740682          10.1
28         19.446769          18.9
193        18.192112          19.6
27         17.201787          15.9
47         21.563595          23.2
165        14.704843          11.9
194        16.263521          17.3
177        12.370989          11.7
176        19.970593          20.2
97         15.367690          15.5
174        14.003995          11.5
73         10.077294          11.0
69         20.918916          22.3
172         7.438333           7.6
108         3.670312           5.3
107         7.277604           8.7
189         5.995232           6.7
14         18.414975          19.0
56          8.318682           5.5
19         14.109025          14.6
114        14.936976          14.6
39         20.358828          21.5
185        20.562716          22.6
124        19.553808          19.7
98         24.103609          25.4
123        14.849858          15.2
119         6.714749           6.6
53         19.777616          21.2
33         18.939964          17.4
179        12.510919          12.6
181        14.200527          12.2
106         6.108447           7.2
199        15.369534          13.4
138         9.567691           9.6

# Now for Acuracy Point of view we will consider R2 MSE MAPE MAE MPE

In [44]:
from sklearn import metrics 
print('MAE is ',metrics.mean_absolute_error(y_test,y_predt))
print('MSE is ',metrics.mean_squared_error(y_test,y_predt))
print('MAPE is ',np.mean(np.abs((y_test - y_predt) / y_test)) * 100,"%")
print('MPE is ',np.mean((y_test-y_predt)/y_test)*100)
print('r2 is ', metrics.r2_score(y_test, y_predt))

MAE is  1.054832840507332
MSE is  1.9289249074665737
MAPE is  8.545502795467277 %
MPE is  -0.12914002526075474
r2 is  0.9224605706201434